@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */
:root {
  --background: #0a0a0a;
  --foreground: silver;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: silver;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.table-row {
  display: table-row; /* Makes the div behave like a <tr> */
}

.table-cell {
  display: table-cell; /* Makes the div behave like a <td> */
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

.header {
  font-weight: bold;
  background-color: #f2f2f2;
}

.centered-block {
  margin: 0 auto;
}

.tag-dark {
  background-color: rgb(80, 80, 80);
  padding: 4px;
  margin-right: 4px;
  border-radius: 0.375rem;
  font-size: 12px;
}

.bgimage_color {
  background-color: #000000;
}

@media only screen and (max-width: 600px) {
  .playpausebutton {
    display: contents;
  }
  .bgimage {
    background-image: url("https://vnshanftypzvajpbbwxr.supabase.co/storage/v1/object/public/images/jeff_joshuatree_flyingv_cropped.png");
    position: relative;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .table-container {
    display: table; /* Makes the div behave like a <table> */
    border-collapse: collapse; /* For collapsing borders if cells have borders */
    margin-left: -12px;
    padding-left: 0px;
  }
}
@media only screen and (min-width: 600px) {
  .playpausebutton {
    display: inline-block;
  }
  .bgimage {
    background-image: url("https://vnshanftypzvajpbbwxr.supabase.co/storage/v1/object/public/images/jeff_joshuatree_flyingv.png");
    position: relative;
    background-position: 50%;
    background-size: cover;
  }
  .table-container {
    display: table; /* Makes the div behave like a <table> */
    border-collapse: collapse; /* For collapsing borders if cells have borders */
  }
}
